.home {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0px; 
  } 

  .home-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(236, 123, 48, 0.432); /* Adjust opacity as needed */
    z-index: 1;
  }
  
    .home-header {
    /* background-color: #ec7c30; */
    background-image: url('../images/tower.jpeg');
    height: 50vh;
    width: 100%;
    position: relative;
    /* clip-path: ellipse(60% 80% at 51% 20%); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
  }
  /* .home-header {
    background-color: #ec7c30;
    background-image: url('../images/tower.jpeg'); 
    background-size: cover;
  background-position: center;
  position: relative;
  } */

  /* .home-header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 0;
  } */

  .Name {
    font-size: 4.5rem; 
    margin-top: -20px;
    margin-bottom: 10px;
}

.products{
  font-size: 2rem; 
    margin-top: -20px;
    margin-bottom: 30px;
    color: #ec7c30;
    font-weight:bold;
}



.home-header p {
  /* color: white; */
  /* font-size: 3rem; */
  /* margin: 0; */
  z-index: 2;
}


  .home-header h1 {
    color: white;
    font-size: 3rem;
    margin: 0;
    z-index: 2;
  }

  
  
  /* .home-content {
    width: 100%;
    max-width: 1200px;
    padding: 1rem;
    text-align: center;
  }
   */

   .cards {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }

   .locations {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 1rem; /* Add padding to prevent sticking to edges */
  }
  
  .location {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #ec7c30;
    font-weight: bold;
    text-align: center; 
    margin-top: 20px;
  }
  .capability p {
    font-size: 1.5rem; 
    color: #333; 
    font-weight: bold; 
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center; 
  }

  .story{
    font-size: 2rem;
    margin-bottom: 10px;
    margin-top: 30px;
    color: #ec7c30;
    font-weight: bold;
    text-align: center;
  }

  .compliance{
    font-size: 2rem;
    color: #ec7c30;
    font-weight: bold;
    text-align: center;
  }

  .compliances{
    margin-top: 20px;
  }

  .client{
    font-size: 2rem;
    margin-top: 20px;
    color: #ec7c30;
    font-weight: bold;
    text-align: center;
  }


.client-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.client-images img {
  width: 150px; 
  height: 150px; 
  padding: 2rem;
  
}
  

