.project {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0px; 
  } 

  .project-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(236, 123, 48, 0.432); 
    z-index: 1;
  }
  
  .project-header {
    background-image: url('../images/tower.jpeg');
    background-size: cover;
    background-position: center;
    height: 50vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
    text-align: center;
    padding: 20px;
  }
  
  .project-header h1 {
    color: white;
    font-size: 3vw;
    margin: 0;
    z-index: 2;
  }
  
  @media (max-width: 768px) {
    .project-header {
      height: 40vh;
      padding: 10px;
    }
  
    .project-header h1 {
      font-size: 5vw;
    }
  }
  
  @media (max-width: 480px) {
    .project-header {
      height: 30vh;
      padding: 5px;
    }
  
    .project-header h1 {
      font-size: 7vw;
    }
  }
  

  .months{
    font-size: 2rem;
    color: #ec7c30;
    font-weight: bold;
    text-align: center;
  }

  .month{
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .authorities{
    font-size: 2rem;
    color: #ec7c30;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }

  .machines{
    font-size: 2rem;
    color: #ec7c30;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  
  
 